#top{
    display: flex;
    border: 3px solid red;
    min-height: 80px;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}
#rubrik{
    display: flex;
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: monospace
}
#top div{
    font-family: monospace;
    font-size: 20px;
}

#mellan{
    display: flex;
    border: 3px solid orange;
    min-height: 200px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
}
#h2_v{
    background-color: yellow;
    margin-top: 70px;
    margin-bottom: 70px;
}
#h2_h{
    background-color: pink;
    margin-left: 12px;
    margin-top: 70px;
    margin-bottom: 70px;
}
h2{
    text-align: center;
    border: 2px solid black;
    min-width: 49%;
    align-content: center;
}
#bottom{
    display: flex;
    border: 3px solid yellow;
    min-height: 200px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
}
h3{
    font-weight: lighter;
}